/* Write your CSS here */
.bg {
  background-color: #1e293b;
  font-family: 'Bree Serif';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 40px;
  color: #f0bb03;
  font-weight: 700;
}
.description {
  font-size: 26px;
  color: #ffffff;
}
.button {
  border: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  width: 110px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
